<div class="row justify-content-center">
	<div class="col-lg-6 col-md-8">
		<div class="card bg-secondary shadow border-0">
			<div class="card-body px-lg-5 pt-lg-5">
				<div class="text-center text-muted mb-4">
					<h2>Alterar vaga</h2>
				</div>
				<form role="form" method="post" action="/vaga/cadastro">
					<input type="hidden" name="id" value="<%= @vaga.id %>" >
                    <div class="form-group">
						<div class="input-group input-group-alternative mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-briefcase"></i>
								</span>
							</div>
							<input class="form-control" placeholder="Título Vaga" type="text" name="titulo" value="<%= @vaga.titulo %>" required>
						</div>
					</div>
					<div class="form-group">
                        <select class="form-control form-control-alternative" name="nivel" required>
							<option disabled>Nível</option>
							<% @opcoes['nivel'].to_hash().each do |chave, valor| %>
								<% if @vaga.nivel == chave %>
									<option value="<%= chave %>" selected><%= valor %></option>
								<% else %>
									<option value="<%= chave %>"><%= valor %></option>
								<% end %>
							<% end %>
						</select>
                    </div>
					<div class="form-group">
                        <select class="form-control form-control-alternative" name="tipoContrato" required>
							<option disabled>Tipo Contrato</option>
							<% @opcoes['tipoContrato'].to_hash().each do |chave, valor| %>
								<% if @vaga.tipoContrato == valor %>
									<option value="<%= chave %>" selected><%= valor %></option>
								<% else %>
									<option value="<%= chave %>"><%= valor %></option>
								<% end %>
							<% end %>
						</select>
                    </div>
					<div class="form-group">
                        <select class="form-control form-control-alternative" name="remoto" required>
							<option disabled>Trabalho remoto?</option>
							<% @opcoes['remoto'].to_hash().each do |chave, valor| %>
								<% if @vaga.remoto == valor %>
									<option value="<%= chave %>" selected><%= valor %></option>
								<% else %>
									<option value="<%= chave %>"><%= valor %></option>
								<% end %>
							<% end %>
						</select>
                    </div>
					<div class="form-group">
						<div class="input-group input-group-alternative mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-map-marker-alt"></i>
								</span>
							</div>
							<input class="form-control" placeholder="Local de trabalho" type="text" value="<%= @vaga.local %>" name="local">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-alternative mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-money-bill"></i>
								</span>
							</div>
							<input class="form-control" placeholder="Salário" type="number" name="salario" value="<%= @vaga.salario %>" required>
						</div>
					</div>
					<div class="form-group">
                        <textarea class="form-control form-control-alternative" rows="4" placeholder="Descrição vaga" name="descricao"><%= @vaga.descricao %></textarea>
                    </div>
					<div class="text-center">
						<button type="submit" class="btn btn-default mt-4">Alterar vaga</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>