<div class="row">
	<div class="col-10 ml-auto mr-auto">
		<div class="card shadow">
			<div class="card-header border-0">
				<h3 class="mb-0"><%= @titulo %></h3>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<% if @usuario %>
								<th scope="col">Título</th>
							<% end %>
							<% if @empresa %>
								<th scope="col">Usuário</th>
							<% end %>
							<% if @usuario %>
								<th scope="col">Nível</th>
								<th scope="col">Empresa</th>
							<% end %>
							<th scope="col">Local</th>
							<th scope="col">Salário</th>
							<th scope="col">Status</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
					<% if @candidaturas.count > 0 %>
						<% for candidatura in @candidaturas %>
						<tr>
							<% if @usuario %>
							<th scope="row">
								<div class="align-items-center">
									<a href="/vaga/<%= candidatura.vaga.id %>">
										<span class="mb-0 text-sm"><%= candidatura.vaga.titulo %></span>
									</a>
								</div>
							</th>
							<% end %>
							<% if @empresa %>
							<th scope="row">
								<div class="align-items-center">
									<a href="/usuario/<%= candidatura.usuario.id %>">
										<span class="mb-0 text-sm"><%= candidatura.usuario.nome %></span>
									</a>
								</div>
							</th>
							<% end %>
							<% if @usuario %>
							<td>
								<span class="text-sm">
									<%= candidatura.vaga.nivel %>
								</span>
							</td>
							<td>
								<a href="/empresa/<%= candidatura.vaga.empresa.id %>">
									<span class="mb-0 text-sm"><%= candidatura.vaga.empresa.nome %></span>
								</a>
							</td>
							<% end %>
							<td>
								<span class="text-sm">
									<%= candidatura.vaga.local %>
								</span>
							</td>
							<td>
								<span class="text-sm">
									R$ <%= candidatura.vaga.salario %>
								</span>
							</td>
							<td>
								<span class="text-sm">
									<%= @opcoes['status'][candidatura.status] %>
								</span>
							</td>
							<td class="text-right">
								<div class="dropdown">
									<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-ellipsis-v"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
									<% if @empresa %>
										<a class="dropdown-item editarCandidatura" href="/candidatura/editar/<%= candidatura.id %>" data-idCandidatura="<%= candidatura.id %>" data-toggle="modal" data-target="#editarCandidatura">Editar</a>
									<% else %>
										<a class="dropdown-item disabled" href="#">Editar</a>
									<% end %>
										<a class="dropdown-item" href="/candidatura/deletar/<%= candidatura.id %>">Deletar</a>
									</div>
								</div>
							</td>
						</tr>
						<% end %>
					<% else %>
						<tr>
							<td></td>
							<td></td>
							<td class="text-right">
								<span class="text-lg">
									Nenhuma candidatura realizada!
								</span>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editarCandidatura" tabindex="-1" role="dialog" aria-labelledby="editarCandidatura" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="card bg-secondary shadow border-0">
					<div class="card-body">
						<div class="text-center text-muted mb-4 h4">
							Edite o status da candidatura
						</div>
						<form>
							<input type="hidden" name="idCandidatura">
							<div class="row">
								<div class="col-lg-12 form-group">
									<select class="form-control form-control-alternative" name="status" required autocomplete="off">
										<option disabled>Status</option>
										<% @opcoes['status'].to_hash().each do |chave, valor| %>
											<option value="<%= chave %>"><%= valor %></option>
										<% end %>
									</select>
								</div>
							</div> 
							<div class="text-center">
								<button type="button" class="btn btn-primary my-4" id="alterarStatus">Alterar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>