<div class="row">
	<div class="col-10 ml-auto mr-auto">
		<div class="card shadow">
			<div class="card-header border-0">
				<h3 class="mb-0"><%= @titulo %></h3>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<% if @usuario %>
								<th scope="col">Título</th>
							<% end %>
							<% if @empresa %>
								<th scope="col">Usuário</th>
							<% end %>
							<% if @usuario %>
								<th scope="col">Nível</th>
							<% end %>
							<th scope="col">Local</th>
							<th scope="col">Salário</th>
							<th scope="col">Status</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
					<% if @candidaturas.count > 0 %>
						<% for candidatura in @candidaturas %>
						<tr>
							<% if @usuario %>
							<th scope="row">
								<div class="align-items-center">
									<a href="/vaga/<%= candidatura.vaga.id %>">
										<span class="mb-0 text-sm"><%= candidatura.vaga.titulo %></span>
									</a>
								</div>
							</th>
							<% end %>
							<% if @empresa %>
							<th scope="row">
								<div class="align-items-center">
									<a href="/usuario/<%= candidatura.usuario.id %>">
										<span class="mb-0 text-sm"><%= candidatura.usuario.nome %></span>
									</a>
								</div>
							</th>
							<% end %>
							<% if @usuario %>
							<td>
								<span class="text-sm">
									<%= candidatura.vaga.nivel %>
								</span>
							</td>
							<% end %>
							<td>
								<span class="text-sm">
									<%= candidatura.vaga.local %>
								</span>
							</td>
							<td>
								<span class="text-sm">
									R$ <%= candidatura.vaga.salario %>
								</span>
							</td>
							<td>
								<span class="text-sm">
									<%= candidatura.status %>
								</span>
							</td>
							<td class="text-right">
								<div class="dropdown">
									<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-ellipsis-v"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
									<% if @empresa %>
										<a class="dropdown-item" href="/candidatura/editar/<%= candidatura.id %>">Editar</a>
									<% else %>
										<a class="dropdown-item disabled" href="#">Editar</a>
									<% end %>
										<a class="dropdown-item" href="/candidatura/deletar/<%= candidatura.id %>">Deletar</a>
									</div>
								</div>
							</td>
						</tr>
						<% end %>
					<% else %>
						<tr>
							<td></td>
							<td></td>
							<td class="text-right">
								<span class="text-lg">
									Nenhuma candidatura realizada!
								</span>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>