<div class="row">
    <div class="col-xl-4 order-xl-1 ml-auto mr-auto mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center">
                            <div>
                                <span class="heading"><%= @vagas.count %></span>
                                <span class="description">Vagas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3>
                        <%= @empresaPerfil.nome %>
                    </h3>
                    <div class="h5">
                        <i class="ni business_briefcase-24 mr-2"></i>@<%= @empresaPerfil.login %>
                    </div>
                    <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i><%= @empresaPerfil.email %>
                    </div>
                    <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i>Tipo da empresa: <%= @opcoes['tipo'][@empresaPerfil.tipo] %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 order-xl-2">
        <div class="row">
        <% if @vagas.count > 0 %>
            <% for vaga in @vagas %>
            <div class="col-xl-12 my-2">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <a href="/vaga/<%= vaga.id %>">
                                    <span class="h2 font-weight-bold mb-0"><%= vaga.titulo %></span>
                                </a>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="mr-2"><i class="fas fa-users"></i> <%= vaga.nroCandidaturas %></span>
                            <span class="mr-2"><i class="fas fa-briefcase"></i> <%= vaga.empresa.nome %></span>
                            <span class="mr-2"><i class="fas fa-map-marker-alt"></i> <%= vaga.local %></span>
                            <span class="mr-2"><i class="fas fa-globe"></i> <%= vaga.remoto %></span>
                            <span class="mr-2"><i class="fas fa-building"></i> <%= @opcoes['tipo'][vaga.empresa.tipo] %></span>
                            <% if vaga.salario %>
                                <span class="mr-2"><i class="far fa-money-bill-alt"></i> R$ <%= vaga.salario %></span>
                            <% else %>
                                <span class="mr-2"><i class="far fa-money-bill-alt"></i> R$ a combinar</span>
                            <% end %>
                            <span class="mr-2"><i class="far fa-chart-bar"></i> <%= vaga.nivel %></span>
                            <span class="mr-2"><i class="far fa-file-alt"></i> <%= vaga.tipoContrato %></span>
                        </p>
                    </div>
                </div>
            </div>
            <% end %>
        <% else %>
        <div class="col-xl-12 col-lg-12 my-2">
            <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col text-center">
                            <span class="h3 font-weight-bold mb-0">Nenhuma vaga cadastrada!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %> 
        </div>
    </div>   
</div>
