<div class="row">
    <div class="col-xl-8 ml-auto mr-auto">
        <div class="card bg-secondary shadow">
            <div class="card-body">
                <% if @usuario %>
                    <input name="idUsuario" type="hidden" value="<%= @usuario.id %>" disabled>
                <% elsif @vaga %>
                    <input name="idVaga" type="hidden" value="<%= @vaga.id %>" disabled>
                <% end %>
                <div class="pl-lg-4">
                    <div class="row habilidade">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-alternative" name="nome" placeholder="Habilidade" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div style="margin-top: 2.5%;" class="row ml-2">
                                <%  arrayTempos = ['0-1', '1-2', '2-3', '3-4', '4-5', '5+'] 
                                    for tempoArray in arrayTempos %>
                                        <div class="custom-control custom-radio col-md-2">
                                            <input name="tempo" class="custom-control-input" id="<%= tempoArray %>" value="<%= tempoArray %>" type="radio" autocomplete="off">
                                            <label class="custom-control-label" for="<%= tempoArray %>"><%= tempoArray %></label>
                                        </div> 
                                <% end %>
                            </div> 
                        </div>
                        <a style="margin-top: 1.5%;" href="javascript:void(0)" class="adicionaHabilidade">
                            <i class="fas fa-check"></i>
                        </a>
                    </div>
                    <hr class="mb-3 mt-0">
                    <% if @habilidades.count > 0 %>
                        <% @habilidades.each do |habilidade, tempo| %>
                        <div class="row habilidade">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input name="idHabilidade" type="hidden" value="<%= habilidade.id %>" disabled>
                                    <input type="text" class="form-control form-control-alternative" name="nome" value="<%= habilidade.nome %>" placeholder="Habilidade" disabled>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div style="margin-top: 2.5%;" class="row ml-2">
                                <%  arrayTempos = ['0-1', '1-2', '2-3', '3-4', '4-5', '5+'] 
                                    for tempoArray in arrayTempos
                                        if tempoArray == tempo.to_s %>
                                            <div class="custom-control custom-radio col-md-2">
                                                <input name="tempo**<%= habilidade.id %>" class="custom-control-input" id="<%= tempoArray %>**<%= habilidade.id %>" value="<%= tempoArray %>" type="radio" checked="" disabled>
                                                <label class="custom-control-label" for="<%= tempoArray %>**<%= habilidade.id %>"><%= tempoArray %></label>
                                            </div> 
                                        <% else %>
                                            <div class="custom-control custom-radio col-md-2">
                                                <input name="tempo**<%= habilidade.id %>" class="custom-control-input" id="<%= tempoArray %>**<%= habilidade.id %>" value="<%= tempoArray %>" type="radio" disabled>
                                                <label class="custom-control-label" for="<%= tempoArray %>**<%= habilidade.id %>"><%= tempoArray %></label>
                                            </div> 
                                        <% end %>
                                    <% end %>
                                </div> 
                            </div>
                            <a style="margin-top: 1.5%;" href="javascript:void(0)" class="removeHabilidade">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 text-center">
                <a href="/" class="text-light">
                    <h3>Visualizar vagas</h3>
                </a>
            </div>
        </div>
    </div>
</div>