<div class="row">
    <div class="col-xl-4 order-xl-1 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="card-profile-stats d-flex justify-content-center">
                            <div>
                                <span class="heading"><%= @candidaturas.count %></span>
                                <span class="description">Candidaturas</span>
                            </div>
                            <div>
                                <span class="heading"><%= @habilidades.count %></span>
                                <span class="description">Habilidades</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <h3>
                        <%= @usuarioPerfil.nome %>
                    </h3>
                    <div class="h5">
                        <i class="ni business_briefcase-24 mr-2"></i>@<%= @usuarioPerfil.login %>
                    </div>
                    <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i><%= @usuarioPerfil.email %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 order-xl-2">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-12">
                        <h4 class="mb-0">Habilidades</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="pl-lg-4">
                    <% if @habilidades.count > 0 %>
                        <% @habilidades.each do |habilidade, tempo| %>
                        <div class="row habilidade">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input name="idHabilidade" type="hidden" value="<%= habilidade.id %>" disabled>
                                    <input type="text" class="form-control form-control-alternative" name="nome" value="<%= habilidade.nome %>" placeholder="Habilidade" disabled>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div style="margin-top: 2.5%;" class="row ml-2">
                                <%  arrayTempos = ['0-1', '1-2', '2-3', '3-4', '4-5', '5+'] 
                                    for tempoArray in arrayTempos
                                        if tempoArray == tempo.to_s %>
                                            <div class="custom-control custom-radio col-md-2">
                                                <input name="tempo**<%= habilidade.id %>" class="custom-control-input" id="<%= tempoArray %>**<%= habilidade.id %>" value="<%= tempoArray %>" type="radio" checked="" disabled>
                                                <label class="custom-control-label" for="<%= tempoArray %>**<%= habilidade.id %>"><%= tempoArray %></label>
                                            </div> 
                                        <% else %>
                                            <div class="custom-control custom-radio col-md-2">
                                                <input name="tempo**<%= habilidade.id %>" class="custom-control-input" id="<%= tempoArray %>**<%= habilidade.id %>" value="<%= tempoArray %>" type="radio" disabled>
                                                <label class="custom-control-label" for="<%= tempoArray %>**<%= habilidade.id %>"><%= tempoArray %></label>
                                            </div> 
                                        <% end %>
                                    <% end %>
                                </div> 
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>