<div class="row">
	<div class="col-10 ml-auto mr-auto">
		<div class="card shadow">
			<div class="card-header border-0">
				<div class="row">
					<div class="col-6">
						<h3 class="mb-0"><%= @titulo %></h3>
					</div>
					<div class="col-6 text-right">
						<a href="/vaga/cadastro">
							<i class="fas fa-plus text-default"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table align-items-center table-flush">
					<thead class="thead-light">
						<tr>
							<th scope="col">Título</th>
							<th scope="col">Nível</th>
							<th scope="col">Tipo contrato</th>
							<th scope="col">Remoto</th>
							<th scope="col">Local</th>
                            <th scope="col">Salário</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
                    <% if @vagas.count > 0 %>
                        <% for vaga in @vagas %>
						<tr>
							<th scope="row">
								<div class="align-items-center">
									<a href="/vaga/<%= vaga.id %>">
                                    	<span class="mb-0 text-sm"><%= vaga.titulo %></span>
									</a>
								</div>
							</th>
                            <td>
								<span class="text-sm">
									<%= vaga.nivel %>
								</span>
							</td>
							<td>
								<span class="text-sm">
									<%= vaga.tipoContrato %>
								</span>
							</td>
							<td>
								<span class="text-sm">
									<%= vaga.remoto %>
								</span>
							</td>
							<td>
								<span class="text-sm">
									<%= vaga.local %>
								</span>
							</td>
                            <td>
                                <span class="text-sm">
									R$ <%= vaga.salario %>
								</span>
							</td>
							<td class="text-right">
								<div class="dropdown">
									<a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fas fa-ellipsis-v"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
										<a class="dropdown-item" href="/vaga/editar/<%= vaga.id %>">Editar</a>
										<a class="dropdown-item" href="/vaga/candidaturas/<%= vaga.id %>">Visualizar candidaturas</a>
										<a class="dropdown-item" href="/vaga/deletar/<%= vaga.id %>">Deletar</a>
									</div>
								</div>
							</td>
						</tr>
                        <% end %>
                    <% else %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">
                                <span class="text-lg">
									Nenhuma vaga cadastrada!
								</span>
                            </td>
                        </tr>
                    <% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>